<h1>Nowy rodzaj klocka składowego</h1>

<%= error_messages_for :block_type %>

<% form_for @block_type do |f| %>
	<%= render :partial => 'form', :locals => { :f => f } %>
	<p>
                <% for stage_type in @stage_types %>
                        <p>
                          <%= check_box_tag "block_type[stage_types][]", stage_type, @block_type.has_stage_type?(stage_type) %>
                          <%= stage_type.name %>
                        </p>
                <% end %>
                <%= hidden_field_tag "block_type[stage_types][]", "" %>

		<input type="submit" value="Utwórz" /> lub <%= link_to 'anuluj', block_types_path %>
	</p>
        


<% end %>