<h1><%= @block_type.name %></h1>

<h3>Etapy</h3>
<% for stage_type in @stage_types %>
  <b><%= stage_type.name %></b>
  (nakład pracy: <%= @stage_types_costs[stage_type.id] %>)
  <br />
<% end %>

<br />

<%= link_to 'Edytuj', edit_block_type_path(@block_type.id) %>
<br />
<%= link_to 'Przeglądaj rodzaje klocków składowych', block_types_path() %>