!!! xml
!!! strict
%html{html_attrs('pl-pl')}
	%head
		%meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}

		%title Bumblebee
		
		%link{:href => '/stylesheets/popup.css', :rel => "stylesheet", :type => "text/css"}
		%link{:href => '/stylesheets/application.css', :rel => "stylesheet", :type => "text/css"}
		= javascript_include_tag :defaults, 'popup.js'
		
		= yield :head
	%body
	
		#header
			%a#logo
				Bumble
				%strong> bee
			#user_panel
				- if current_user
					.user
						= current_user.email
						= " (" + link_to("wyloguj", logout_path) + ")"
					- if @project
						.project= @project.name
				- else
					.login
						= link_to "Zaloguj się", login_path
						lub
						= link_to "utwórz nowe konto", new_user_path
			%ul#navigation
				%li= link_to "Pulpit", root_path
				%li= link_to "Projekty", projects_path
				%li= link_to "Konfiguracja", block_types_path
		
		#container
		
			#main
				#notice= flash[:notice]

				#content
					= yield
				
			#sidebar
				= yield :sidebar
			
			.clear
		
		#footer
			.copyrights Autorami niniejszego serwisu są Piotr Bator i Mateusz Gurgul. Serwis ten stanowi integralną część prac magisterskich z Elektronicznego Przetwarzania Informacji (kierunek: kulturoznawstwo), przygotowanej pod kierunkiem prof. dra hab. Mariusza Flasińskiego na Wydziale Zarządzania i Komunikacji Społecznej Uniwersytetu Jagiellońskiego.
			
