<h1>Lista klocków projektu "<%= @project.name %>"</h1>

<% remote_form_for BlockType.new, :update => 'block_types' do |f| %>
	<p>
		<%= render :partial => 'block_types/form', :locals => { :f => f } %>
	
		<input type="submit" value="Utwórz" />
	</p>
<% end %>

<ul id="block_types">
	<% for block_type in BlockType.find(:all) %>
		<li id="block_type_<%= block_type.id %>" class="block_type"><%= block_type.name %></li>
	<% end %>
</ul>

<div id="blocks">
	<% for block in @blocks %>
		<p>
			<%= block.block_type.name unless block.block_type.nil? %>, 
			<%= link_to 'edytuj', edit_project_block_path(@project, block) %>,
			<%= link_to 'usuń', project_block_path(@project, block), :method => 'delete', :confirm => 'Czy na pewno chcesz usunąć ten klocek?' %>
		</p>
	<% end %>
	
</div>

<script type="text/javascript" charset="utf-8">
	Droppables.add('blocks', {
		accept: 'block_type',
		hoverclass: 'hover',
		onDrop: function(element) {
			var blockTypeId = element.id.match(/_([0-9]+)$/)[1];
			
			new Ajax.Request('<%= project_blocks_path(@project) %>', {
				parameters: 'block[block_type_id]=' + blockTypeId
			});
		}
	});
	$$('#block_types li').each(function(blockType) {
		new Draggable(blockType, {
			revert: true
		});
	});
</script>