- content_for :head do
	= javascript_include_tag "blocks"
	
%ul#back
	%li= link_to "« powrót do projektu", project_path(@project)

%h1= "Klocki projektu \"#{@project.name}\""

%p.hint Przeciągnij klocki z listy po prawej, aby uzupełnić projekt.

%ul#blocks
	= render :partial => "blocks", :locals => { :blocks => @blocks }
	
#block_types_sidebar
	%h3 Typy klocków
	%ul#block_types
		= render :partial => "block_types"
			
	%h3= link_to "Dodaj nowy typ klocka", new_block_type_path
	-# remote_form_for BlockType.new, :update => 'block_types' do |f|
	-#	= render :partial => 'block_types/form', :locals => { :f => f, :block_type => BlockType.new }

	-#	%input{ :type => "submit", :value => "Utwórz" }

:javascript
	Droppables.add('blocks', {
		accept: 'block_type',
		hoverclass: 'hover',
		onDrop: function(element) {
			var blockTypeId = element.id.match(/_([0-9]+)$/)[1];

			new Ajax.Updater('blocks', '#{project_blocks_path(@project)}', {
				parameters: 'block[block_type_id]=' + blockTypeId,
				onSuccess: function() {
					
				}
			});
		}
	});
	$$('#block_types li').each(function(blockType) {
		new Draggable(blockType, {
			revert: true
		});
	});