%ul#back
	%li= link_to "« powrót do projektu", project_path(@project)

%ul#links
	- if can? :update, @demo
		%li= link_to "edytuj", edit_project_demo_path(@project, @demo)
	- if can? :destroy, @demo
		%li= link_to "usuń", project_demo_path(@project, @demo), :confirm => "Czy na pewno chcesz usunąć tę wersję demo?", :method => :delete

%h1= @demo.name

%p
	%a{ :href => "#", :onclick => "window.open('#{@demo.url}#{@demo.url.index('?') ? '&' : '?'}_bumblebee_enabled=1&_bumblebee_project_id=#{@project.id}&_bumblebee_demo_id=#{@demo.id}&_bumblebee_user_id=#{@current_user.id}');"}= @demo.url

%p= @demo.description

%h2 Aktywność

%ul#activity
	- for activity in @demo.all_activities
		%li
			- if activity.is_a? DemoActivity
				= link_to activity.user.email, user_path(activity.user)
				wyświetlił
				= activity.url
				= activity.created_at
			- elsif activity.is_a? BugReport
				= link_to activity.user.email, user_path(activity.user)
				zgłosił błąd na stronie
				= activity.url
				= activity.created_at