- render :partial => "sidebar"

%ul#links
	- if can? :crete, Demo
		%li= link_to "dodaj demo", new_project_demo_path(@project)
	- if can? :update, @project
		%li= link_to "edytuj", edit_project_path(@project)
	- if can? :destroy, @project
		%li= link_to "usuń", project_path(@project), :method => 'delete', :confirm => "Czy na pewno chcesz usunąć ten projekt?"


#timeline
	.canvas

%h1= @project.name

- unless @project.demos.first.nil?
	%p= link_to "» Najnowsza wersja demonstracyjna (#{@project.demos.first.url}) #{@project.demos.first.created_at}", project_demo_path(@project, @project.demos.first)