- render :partial => "sidebar"

%ul#links
	- if can? :crete, Demo
		%li= link_to "dodaj demo", new_project_demo_path(@project)
	- if can? :update, @project
		%li= link_to "edytuj", edit_project_path(@project)
		%li= link_to "klocki", project_blocks_path(@project)
	- if can? :destroy, @project
		%li= link_to "usuń", project_path(@project), :method => 'delete', :confirm => "Czy na pewno chcesz usunąć ten projekt?"

%h1= @project.name

%br/

.cost_bar
	- for stage in @project.stages
		%a{:title => "#{stage.stage_type.name} - #{stage.percental_progress}%", :style => "background-color: ##{stage.stage_type.color}; width: #{stage.project_cost_participation*6}px"}= "#{stage.percental_progress}%"

%br/

<b>SPI</b> (wskaźnik realizacji harmonogramu):
= @project.earned_value_schedule_performance_index
%br/
<b>CPI</b> (wskaźnik realizacji kosztów):
= @project.earned_value_cost_performance_index
%br/

- unless @project.demos.first.nil?
	%p= link_to "» Najnowsza wersja demonstracyjna (#{@project.demos.first.url}) #{time_ago_in_words(@project.demos.first.created_at)} temu", project_demo_path(@project, @project.demos.first)
	
%p
	%br/

%ul#activity
	- for activity in @project.all_activities
		%li
			- if activity.is_a? Demo
				= time_ago_in_words(activity.created_at) + " temu"
				została opublikowana wersja demonstracyjna
				= link_to activity.url, project_demo_path(activity, @project)
			- elsif activity.is_a? Block
				= time_ago_in_words(activity.created_at) + " temu"
				dodano klocek
				/ = link_to activity.user.email, user_path(activity.user)
				= "\"#{activity.block_type.name}\""
			- elsif activity.is_a?(VestalVersions::Version)  && activity.versioned.is_a?(Page)
				= link_to image_tag("avatars/#{activity.versioned.user.id}.jpg", :size => "40x40"), user_path(activity.versioned.user)
				= time_ago_in_words(activity.created_at) + " temu"
				= link_to activity.versioned.user.email, user_path(activity.versioned.user)
				zmienił stronę
				= '"' + link_to(activity.versioned.title, project_page_path(activity.versioned, @project)) + '"'
			- elsif activity.is_a? Page
				= link_to image_tag("avatars/#{activity.user.id}.jpg", :size => "40x40"), user_path(activity.user)
				= time_ago_in_words(activity.created_at) + " temu"
				= link_to activity.user.email, user_path(activity.user)
				utworzył stronę
				= '"' + link_to(activity.title, project_page_path(activity, @project)) + '"'