%table.form
	%tr
		%td.label= f.label :title, 'Tytuł:'
		%td= f.text_field :title
		%td= f.error_message_on :title

	%tr
		%td.label= f.label :content, 'Treść:'
		%td= f.text_area :content
		%td= f.error_message_on :content