<table class="form">
	<tr>
		<td class="label"><%= f.label :name, 'Nazwa:' %></td>
		<td><%= f.text_field :name %></td>
		<td><%= f.error_message_on :name %></td>
	</tr>

	<tr>
	    <td class="label"><%= f.label :color, 'Kolor:' %></td>
	    <td><%= f.text_field :color %></td>
	    <td><%= f.error_message_on :color %></td>
	  </tr>
</table>

