<%= render :partial => "shared/configuration_sidebar" %>

<ul id="back">
	<li><%= link_to "« powrót do listy typów etapów", stage_types_path %></li>
</ul>

<ul id="links">
	<li><%= link_to "edytuj", edit_stage_type_path(@stage_type) %></li>
	<li><%= link_to "usuń", stage_type_path(@stage_type), :method => 'delete', :confirm => 'Czy na pewno chcesz usunąć ten rodzaj etapu?' %></li>
</ul>

<h1><%= @stage_type.name %></h1>